/* Hero.module.css */
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
}

.shakeButton {
  animation: shake 1s infinite;
}

.clipDiagonal {
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 90%);
}
