@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark {
  background-color: #0F172A;
}

.bg-hero-img {
  background-image: url('/banner-demo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


@layer components {
  .section-container {
    @apply container mx-auto px-4 md:px-8;
  }

   .animate-fade-in {
    animation: fade-in 0.3s ease-in-out;
  }

  

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
